/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/09/2014, 05:13:30 PM
    Author     : ferna_000
*/

body{
    background-image: url("../img/Fondo.png");
    font-size: 16px;
}

header{
    text-align: center;
    position: relative;
    border-bottom: 1px solid black;
}

header figure{
    display: inline-block;
    margin: 1em 0 0.5em 0;
    
}

header figure img{
    border-radius: 8px;
    box-shadow: 6px 6px 5px 0px rgba(50, 50, 50, 0.75);
}

header #logo{
    width: 10%;
    border-right: 1px solid black;
}

header #banner{
    width: 85%;
}

footer{
    border-top: 1px dotted black;
    margin-left: 1em;
    text-align: center;
    width: 97%;
}

nav, section{
    display: inline-block;
}

nav{
    margin: 0.2em 0.5em 0.5em 0.2em;
    vertical-align: top;
    width: 10%;
}

nav ul{
    border: 2px solid black;
    border-radius: 8px;
    list-style: none;
    padding: 0.1em;
}

nav ul li a{
    text-decoration: none;
}

section{
    width: 88%;
}

section h1{
    text-align: center;
}

section h2{
    color: crimson;
    font-size: 1.5em;
    text-align: center;
}

section#login form table{
    background: rgb(252, 242, 132);
    border: 1px solid darkorange;
    border-radius: 7px;
    border-collapse: separate;
    margin: 8% auto;
}

section#login form table tr{
    height: 30px;
}

section #enlacesSection{
    margin: 3em 0 9em 0;
    text-align: center;
}

section #enlacesSection a{
    border: 1px solid #285C85;
    border-radius: 5px;
    color: #285C85;
    font-size: 3em;
    margin: 0 0.3em 2em 0;
    padding: 0.3em;
    text-decoration: none;
}

section #enlacesSection a:hover{
    border: 1px dashed #FC1910;
    color: #FC1910;
    font-size: 3.1em;
}

section table#listaSucursales tr.tablaContenido{
    background: white;
}

#s-articulos article{
	border: 1px dashed #285C85;
	display: inline-block;
	margin: 1em;
	padding: 0.5em;
	width: 28%;
}

#s-articulos article figure img{
	transition: 0.2s;
	width: 80px;
}

#s-articulos article figure{
	border-radius: 3px;
        vertical-align: top;
	width: 20%;
}

#s-articulos article .a-texto{
	width: 65%;
}

#s-articulos article figure, #s-articulos article .a-texto{
	display: inline-block;
	margin: 0.5em;
	top: 0;
}

#s-articulos article h2{
	margin: 0 0 0.1em 1em;
}

#s-articulos article p strong{
	background: #81D2EF;
}

#s-articulos article p a{
        color: #F56C29;
        cursor: pointer;
	text-decoration: none;
}

.escale:hover{
    transform: scale(1.2,1.2);
	/*
	-webkit-transform:rotate(-360deg);
	-moz-transform:rotate(-360deg);
	-o-transform:rotate(-360deg);
	-ms-transform:rotate(-360deg);
	-ms-transform: skew(30deg,20deg); 
    -webkit-transform: skew(30deg,20deg); 
	*/
}

.center{
    text-align: center;
}

.left{
    float: left;
}

.right{
    float: right;
}

.tablaInformativa{
    background: rgb(252, 242, 132);
    border: 1px solid darkorange;
    border-radius: 7px;
    margin: 8% auto;
}

.displayNone{
    display: none;
}

.displayTrue{
    display: run-in;
}